html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

h2 {
    line-height: 150%;
}

a {
    text-decoration: none;
}

select {
    font-size: 1vw;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}


.banner-double-img {
    display: flex;
    width: 100%;
}

.banner-double-img div {
    display: flex;
    width: 50%;
    text-align: center;
    position: relative;
    height: 23vw;
}

.banner-double-img div {
    background-size: 100% 100%;
}

.banner-double-img h1{
    margin: auto;
    font-size: 1.8vw;
    color: white;
    text-shadow: rgba(0,0,0,0.7) 1px 0 20px;
}

.banner-double-img h1::before{
    content: "";
    height: 0.3vw;
    width: 5vw;
    left: 50%;
    transform: translateX(calc(-5vw / 2));
    position: absolute;
    top: 5vw;
    background-color: white;
}

.banner-double-img h1::after{
    content: "";
    height: 0.3vw;
    width: 5vw;
    left: 50%;
    transform: translateX(calc(-5vw / 2));
    position: absolute;
    bottom: 5vw;
    background-color: white;
}

.btn-redirect-blue {
    height: 10vw;
    display: flex;
    background-color: #4bbfcc;
    width: 38%!important;
    box-shadow: 0 0 40px 10px rgba(0,0,0,0.3);
    border: none;
}

.btn-redirect-blue span {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 17%;
    font-size: 1.1vw;
}


.banner-simple {
    text-align: center;
    height: 23vw;
    background-size: cover;
    position: relative;
    display: flex;
}

.banner-simple h1 {
    margin: auto;
    color: white;
    font-size: 1.8vw;
    text-shadow: rgba(0,0,0,0.7) 1px 0 20px;
}

.banner-simple h1::before {
    content: "";
    height: 0.3vw;
    width: 5vw;
    left: 50%;
    transform: translateX(calc(-5vw / 2));
    position: absolute;
    top: 5vw;
    background-color: white;
}

.banner-simple h1::after {
    content: "";
    height: 0.3vw;
    width: 5vw;
    left: 50%;
    transform: translateX(calc(-5vw / 2));
    position: absolute;
    bottom: 5vw;
    background-color: white;
}

.banner-simple div {
    background-color: #f8f8f8;
    position: absolute;
    bottom: 0;
    width: 37%;
    height: 23%;
    display: flex;
}




.banner-simple-left {
    height: 32vw;
    width: 50%;
    position: relative;
    display: flex;
}

.banner-simple-left div {
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 72%;
    position: relative;
    display: flex;
}

.banner-simple-left h2 {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 1.8vw;
    margin-left: 22%;
    text-shadow: rgba(0,0,0,0.7) 1px 0 20px;
}

.banner-simple-left h2::before {
    content: "";
    height: 0.4vw;
    width: 5vw;
    position: absolute;
    background-color: white;
    top: 4vw;
}

.banner-simple-left h2::after {
    content: "";
    height: 0.3vw;
    width: 5vw;
    position: absolute;
    left: 22%;
    background-color: white;
    bottom: 4vw;
}

.banner-simple-left::before {
    content: "";
    background-color: white;
    height: 100%;
    width: 74%;
    position: absolute;
}

.d-none {
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
    z-index: -100;
}