#prestations-banner {
    margin-top: 9.5vw;
    margin-bottom: 4vw;
}

#prestations-banner-1 {
    background-image: url("../../assets/png-x2/banner-left-prestation.webp");
}

#prestations-banner-2 {
    background-image: url("../../assets/png-x2/banner-right-prestation.webp");
}

#ctnPrices {
    margin-top: 6vw;
    margin-bottom: 8vw;
}