#conceptRow-1 {
    display: flex;
    width: 100%;
    position: relative;
}

#conceptRowInfo {
    position: absolute;
    bottom: 0;
    right: 9vw;
    text-align: right;
}

#conceptRowInfo label {
    font-size: 1.6vw;
    margin-bottom: 0;
}

#conceptRowInfo p {
    font-size: 1.6vw;
    color: #ec6f3e;
    margin: 0;
}

#conceptRow-Image div {
    background-image: url("../../assets/png-x2/banner-concept-01.webp");
}

#conceptRowContent {
    display: flex;
    width: 50%;
}

#conceptRowContent div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;
}

#conceptRowContent span {
    color: #ec6f3e;
}

#conceptRowContent h3 {
    font-size: 1.6vw;
}

#conceptRowContent p {
    font-size: 1.1vw;
    color: #868686;
}

#concept-banner-1 {
    background-image: url("../../assets/png-x2/banner-left.webp");
}

#concept-banner-2 {
    background-image: url("../../assets/png-x2/banner-right.webp");
}

#commitmentsRow {
    display: flex;
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

#commitmentsRow-1 {
    background-color: white;
    height: 32vw;
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#commitmentsRow-1 h3 {
    margin-left: 30%;
    font-size: 1.6vw;
}

#commitmentsRow-1 a {
    margin-left: 30%;
    font-size: 1vw;
}

#commitmentsRow-1 h3 span {
    color: #ec6f3e;
}

#ctnCommitmentsList {
    width: 63%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#ctnCommitmentsList ul {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    margin-top: 8%;
    list-style: none;
    /*justify-content: space-between;*/
    position: relative;
    left: -15%;
}

#ctnCommitmentsList li {
    width: 30%;
    margin-right: 3%;
    height: 50%;
    display: flex;
    font-size: 1vw;
    flex-direction: column;
    color: dimgray;
}

#ctnCommitmentsList li span {
    color: #4bbecb;
    font-size: 1.6vw;
    margin-bottom: 0.5vw;
    position: relative;
}

#ctnCommitmentsList li span::after {
    content: "";
    width: 30%;
    height: 0.3vw;
    top: 52%;
    left: 17%;
    background-color: #c5e1e4;
    position: absolute;
}

.trotrr {
    font-size: 0.9vw;
    text-align: right;
    color: #868686;
    margin-right: 15%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#container-concept-slider {
    display: flex;
    margin: 3.2vw 0;
}

#ctn-dot-slider {
    width: 11.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active-concept-slider {
    color: #4bbfcc !important;
}

#ctn-dot-slider button {
    margin: 0 auto;
    height: 1.8vw;
    font-size: 2.5vw;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: #cdebed;
}

#hide-concept-slider {
    width: 88.5%;
    overflow: hidden;
    position: relative;
}

#concept-slider {
    display: flex;
    position: relative;
    width: auto;
    left: 0;
}

.col-slide-concept {
    position: relative;
    height: auto;
}


.elem-slide-concept {
    height: 5vw;
    width: 33vw;
    margin-bottom: 3vw;
    display: flex;
    margin-right: 5vw;
    position: relative;
    justify-content: space-between;
}

.elem-slide-concept p {
    width: 50%;
    font-size: 1vw;
    margin-top: 0;
    margin-bottom: auto;
    color: #868686;
}

.elem-slide-concept-1 {
    left: 59%;
}

.elem-slide-concept-2 {
    left: 117%;
}

.pt-cl {
    padding-top: 2vw;
}


.ctn-img-slide-concept {
    max-height: 100%;
    height: 100%;
    width: 38%;
}

.ctn-img-slide-concept img {
    max-height: 100%;
    height: 100%;
    width: 100%;
}











#hide-slider-concept-4 {
    width: 78vw;
    margin-top: 10vw;
    /*border: 1px solid blue;*/
    position: relative;
    overflow: hidden;
}

#slider-concept-4 {
    display: flex;
    list-style: none;
    padding: 0;
    position: absolute;
    left: 0;
    right: auto;
    transition: all 0.4s;
    height: 100%;
}

#slider-concept-4 .elem-slide-concept-4 {
    display: flex;
    height: 100%;
    width: calc(78vw / 1);
    flex-direction: column;
    padding: 0 ;
    justify-content: space-around;
}

#slider-concept-4 span {
    font-size: 3vw;
    font-weight: normal;
}
#slider-concept-4 .elem-slide-concept-4 > * {
    margin-left: 5%;
    margin-right: 5%;
}

#slider-concept-4 a {
    color: #4abfcb;
    font-size: 1.1vw;
}
#slider-concept-4 img {
    height: 58%;
    width: 90%;
}

#ctn-concept-slider-4 {
    display: none;
    justify-content: center;
    height: 55vw;
    margin-bottom: 5vw;
}
#ctn-concept-slider-4 button{
    height: 100%;
    width: 20vw;
    border: none;
    background-color: transparent;
    outline: none;
}

#ctn-concept-slider-4 button img {
    width: 50%;
    height: 100%;

}

#btn-slider-concept-next img {
    transform: rotate(180deg);
}

