@media all and  (max-width: 576px) {

    #conceptRow-1 {
        flex-wrap: wrap;
    }

    #conceptRow-Image {
        width: 75%!important;
        height: 60vw!important;
    }

    #conceptRowContent {
        width: 100%!important;
        height: 40vw;
        margin-bottom: 5vw;
    }

    #conceptRowContent p {
        font-size: 3vw;
    }

    #conceptRowInfo label, #conceptRowInfo p {
        font-size: 3vw!important;
    }

    #commitmentsRow {
        flex-wrap: wrap;
    }

    #commitmentsRow-1 {
        width: 100%;
        height: auto!important;
    }

    #commitmentsRow-1 h3 {
        margin-left: 5vw;
        margin-right: auto;
        font-size: 4vw;
    }

    #commitmentsRow-1 a {
        margin-left: auto;
        margin-right: 5vw;
        font-size: 2vw;
        margin-bottom: 3vw;
    }
    #ctnCommitmentsList {
        width: 100%!important;
        padding-bottom: 10vw;
    }

    #ctnCommitmentsList ul {
        left: 0;
    }

    #ctnCommitmentsList li {
        height: auto;
        margin: 2vw 0;
        font-size: 3.1vw;
        width: 80vw;
    }

    #ctnCommitmentsList li span {
        font-size: 3.1vw!important;
    }

    .trotrr  {
        font-size: 2vw;
        margin-right: 5vw;
    }


    #container-concept-slider {
        margin: 7vw 0;
    }
}