@media all and  (max-width: 576px) {

    header {
        margin-bottom: 30vw;
    }
    #ctn-logo {
        height: 11vw!important;
    }

    #ctn-logo img {
        height: 6vw !important;
    }

    #ctn-logo a {
        font-size: 3vw !important;
    }

    #ctn-index {
        flex-wrap: wrap;
    }

    #ctn-index div {
        width: 100%;
        flex-wrap: wrap;

    }

    #ctn-index-title h1 {
        font-size: 5vw!important;
    }

    #ctn-index-title {
        margin-top: 2vw;
        margin-bottom: 2vw;
        justify-content: center;
    }

    #ctn-index-price {
        margin-bottom: 22vw!important;
    }

    #ctn-index-price .info-price {
        width: calc(50% - 2vw) !important;
        height: 25vw;
        margin: 1vw;
    }

    #ctn-index-price h3 {
        font-size: 3vw;
        margin-bottom: 5%;
    }

    #ctn-index-price span {
        font-size: 3vw;
    }

    #ctn-index-price strong {
        margin-top: 5%;
        font-size: 3vw;
    }

    #menu {
        height: 19vw!important;
    }

    #menu ul {
        width: 100%!important;
        margin: 0!important;
        padding: 0;
    }

    #menu li {
        width: 25%!important;
        justify-content: center;
        font-size: 3vw!important;
    }

    #menu a {
        font-size: 2.5vw!important;
    }

    #menu .active-link:before {
        height: 0.5vw!important;
        width: 8vw!important;
        left: calc(50% - 3.5vw)!important;
        bottom: -2.5vw!important;
    }

    #ctn-action-header {
        height: 20vw!important;
        bottom: -20vw!important;
        width: 100%!important;
    }

    #ctn-action-header span {
        font-size: 2.8vw!important;
    }

    #hide-slider-help {

    }
}