#help-stn-1 h2 {
    font-size: 1.6vw;
    margin-left: 11vw;
    margin-bottom: 4.5vw;
    margin-top: 5vw;
}

#help-stn-1 ul {
    display: flex;
    margin-left: 11vw;
    margin-right: 11vw;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin-bottom: 2vw;
}

#help-stn-1 li {
    font-size: 0.9vw;
    width: 22%;
    height: 15.5vw;
    position: relative;
}

#help-stn-1 li::after {
    content: "";
    height: 17%;
    width: 50%;
    position: absolute;
    background-color: transparent;
    bottom: 0;
    border-radius: 100%;
    left: 25%;
    box-shadow: 0px 0.8vw 1vw 0.1vw #DCDCDC;
}
#help-stn-1 li:before {
    content: "";
    height: 21%;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 1;
    position: absolute;
    bottom: 0;
}

#help-stn-1  span {
    color: #ec6f3e;
}

#help-stn-1 h3 {
    margin-top: 11%;
    margin-bottom: 11%;
    line-height: 140%;
}

#help-stn-1 li .number {
    position: relative;
    font-size: 1.2vw;
    color: #4BBFCC;
}

.txt-info {
    color: #4BBFCC!important;
}
#help-stn-1 li .number::after  {
    content: "";
    width: 5vw;
    height: 0.2vw;
    bottom: 20%;
    left: 200%;
    background-color: #c5e1e4;
    position: absolute;
}

.help-row {
    display: flex;
    height: 38vw;
}

.help-row-main-content {
    width: 44%;
    display: flex;
}

.help-ctn-mrg {
    width: 58%;
    margin-left: 26%;
    margin-top: 8.5vw;
}

.help-ctn-mrg span {
    color: #ec6f3e;
}

.help-ctn-mrg h2 {
    font-size: 1.4vw;
}

.help-ctn-mrg p {
    font-size: 1.1vw;
    color: #8a8b8e;
}

.help-row-img-content {
    width: 56%;
    display: flex;
    position: relative;
}

.help-row-img-content::before {
    content: "";
    height: 86%;
    width: 66%;
    background-color: white;
    position: absolute;
    right: 0;
}

.help-row-img-content img {
    width: 92%;
    height: auto;
    margin: auto 0;
    position: relative;
}
.help-row-img-content p {
    background-color: white;
    color: #8a8b8e;
    margin: 0;
    font-size: 1.1vw;
    position: absolute;
    bottom: 0;
    width: 23.6vw;
    padding: 4.4vw;
    left: 50%;
    transform: translateX(calc(-23.6vw / 2));
}

.help-row-img-content span {
    color: #ec6f3e;
}

.bubble {
    position: absolute;
}

.help-side-right {
    flex-direction: row-reverse;
}

.help-side-right .help-row-img-content::before {
    left: 0;
}

.help-side-right .help-row-img-content img {
    margin-left: auto!important;
}

.help-side-right .help-ctn-mrg {
    margin-left: 19%;
    width: 25vw;
}

.help-ctn-mrg label, .help-ctn-mrg li{
    list-style: none;
    padding-left: 0;
    font-size: 1.1vw;
    color: #8a8b8e;
}
.help-ctn-mrg ul {
    list-style: none;
    padding-left: 0;
}