@media all and  (max-width: 576px) {
    #help-stn-1 ul {
        flex-wrap: wrap;
        flex-direction: column;

    }

    #help-stn-1 li {
        width: 70%;
        height: auto;
        font-size: 2.8vw;
        padding-bottom: 7vw;
        margin-bottom: 9vw;
    }

    #help-stn-1 li .number::after {
        width: 10vw;
        height: 0.5vw;
    }

    #help-stn-1 li .number {
        font-size: 3.1vw;
    }

    .help-row {
        flex-wrap: wrap;
        margin-bottom: 7vw;
    }

    .help-row div {
        width: 100%;
        height: 75vw;
    }

    .help-ctn-mrg {
        width: 100%;
        margin: auto;
        padding-right: 7vw;
        padding-left: 7vw;
    }

    .rsps {
        height: 50vw;
    }

    .help-ctn-mrg p {
        font-size: 3vw;
    }

    .help-ctn-mrg label, .help-ctn-mrg li {
        font-size: 3vw;
    }

    .help-row-main-content {
        height: 50vw!important;
    }

    .help-side-right .help-row-main-content {
        height: 75vw!important;
    }
    .help-side-right .help-ctn-mrg {
        width: 100%;
        height: 60vw !important;
        margin: auto;
        padding-right: 7vw;
        padding-left: 7vw;
    }

    .bubble {
        font-size: 2.3vw!important;
        width: 50vw!important;
    }


    #ctn-help-slider {
        height: 70vw;
        margin-bottom: 10vw;
    }

    #slider-help .elem-slide-help {
        width: calc(78vw / 1);
    }

    #slider-help .elem-slide-help span, #slider-help .elem-slide-help a{
        font-size: 3vw;
    }

    #ctn-help-slider button {
        height: 100%;
        width: 20vw;
    }

    #ctn-help-slider button img {
        width: 50%;
    }

}