@media all and  (max-width: 576px) {

    .prestation-row {
        flex-wrap: wrap;
        flex-direction: initial;
    }

    .prestation-row div {
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 5vw;
        height: auto;
    }

    .prestation-row h2 {
        margin-left: 7.5vw;
    }

    .prestation-row-img-content {
        margin-left: auto;
        max-height: 60vw;
        height: 60vw!important;
        width: 80vw;
        max-width: 80vw;
    }

    .prestation-row-img-content::before {
        right: 0;
        width: 60vw;
    }

    .prestation-row-img-content a {
        right: 0;
        width: 60vw;
        height: 18vw;
        font-size: 2.2vw;
    }

    .prestation-row-img-content span {
        margin-top: 7vw;
    }

    .prestation-row-img-content img {
        width: 68.5vw;
        height: 40.3vw;
        margin-left: auto;
    }

    .prestation-row-main-content ul {
        width: 100%;
        margin-left: 0;
        /*margin-right: 4vw;*/
    }
    .prestation-row-main-content ul li {
        font-size: 2.5vw;
        line-height: 5vw;
    }

    .prestation-row-main-content ul li::before {
        height: 0.5vw;
        top: 2.5vw;
    }
}