#pricesGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prices-grid {
    width: 100%;
    display: flex;
    margin: 2vw 0;
}
.prices-grid span {
    color: #ec6f40;
}

#pricesGrid table {
    background-color: white;
    width: 53.5vw;
    color: #4abfcb;
    box-shadow: 0 0 20px 7px lightgray;
}

#pricesGrid th {
    height: 10vw;
    text-align: center;
    font-size: 1.2vw;
}

#pricesGrid td {
    font-size: 1.2vw;

}

#pricesGrid tr {
    height: 8.5vw;
    text-align: center;
    border: 1px solid red;
    position: relative;
}

#pricesGrid tr:before {
    position:absolute;
    content:"";
    height: 0.5vw;
    margin-top: 6.8%;
    width: 40%;
    margin-left: 7%;
    background:white;
    border-radius: 600%;
    box-shadow: 0 0.8vw 1vw 0.5vw #DCDCDC;
}

#pricesGrid tr:after {
    position: absolute;
    content:"";
    height: 2vw;
    margin-top: 6.5%;
    width: 52vw;
    left: 36vw;
    background: white;
}

.thead:before {
    margin-top: 8.6% !important;
}

.thead:after {
    margin-top: 8% !important;
}

.txt-black {
    color: black;
}

.row-0 {
    height: 10vw;
    display: flex;
}

.row-1 {
    background-color: #e6f1f3;
    box-shadow: inset 16vw -5vw 3vw #e6f1f3, inset 0 0.8vw 6vw -5vw black;
}

.row-0 p {
    width: 50%;
    margin-left: 30%;
    margin-top: auto;
    font-size: 1.6vw;
    margin-bottom: auto;
}

.prices-row {
    height: 8.5vw;
    display: flex;
    box-shadow: inset 16vw -5vw 3vw #f8f8f8 , inset 0 0.8vw 6vw -5vw black;
}

.prices-row p {
    width: 38%;
    font-size: 1.1vw;
    margin: auto 12% auto auto;
}

.prices-col-0 {
    width: 35.5vw;
}

#ctnPricesRedirect {
    width: 100%;
    display: flex;
}

#ctnPricesRedirect a {
    height: 10vw;
    width: calc(63% / 2);
    display: flex;
    cursor: pointer;
}

#ctnPricesRedirect span {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1vw;
    margin-left: 23%;
}


#mobile-price-grid {
    display: none !important;
    margin-bottom: 5vw;
}

#mobile-price-grid .prices-col-0 {
    width: 50%;
}

#mobile-price-grid table {
    width: 50%;
}


#mobile-price-grid tr:after {
    left: 51vw;
    width: 49vw;
}

#mobile-price-grid th, #mobile-price-grid td {
    font-size: 2vw!important;
}
#mobile-price-grid p {
    font-size: 2vw!important;
    margin: auto!important;
    width: 80%;
}

#mobile-price-grid .prices-row, #mobile-price-grid tr {
    height: 10vw;
}

#mobile-price-grid tr:before {
    margin-top: 8.3%;
}

#mobile-price-grid tr:after {
    margin-top: 8%;
}