#header {
    display: flex;
    background-color: green;
    flex-direction: column;
    position: relative;
    background-image: url("../../assets/png-x2/header-banner.webp");
    background-size: cover;
}

#ctn-header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    text-shadow: rgba(0,0,0,0.4) 1px 0 20px;
}

#ctn-logo {
    height: 7vw;
    display: flex;
    justify-content: space-between;
}

#ctn-logo img {
    height: 2.4vw;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}

#ctn-logo h1, #ctn-logo a {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 1vw;
    font-weight: bold;
}

#ctn-index {
    display: flex;
}


#ctn-index-title {
    width: 32%;
    display: flex;
}

#ctn-index-title h1 {
    color: white;
    font-size: 2.2vw;
    text-shadow: rgba(0,0,0,0.4) 1px 0 20px;
}

#ctn-index-price {
    width: 68%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    margin-bottom: 7.5vw;
}


.info-price {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3e3e3e;
    width: 24%;
    position: relative;
    height: 10vw;
}

.info-price h3 {
    margin-top: auto;
    margin-bottom: 0;
    color: #ec703c;
    font-size: 1vw;
}

.info-price .price {
    margin-bottom: auto;
    color: white;
    font-size: 1.2vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.euro {
    font-size: 0.9vw;
    margin-bottom: auto;
}

.bg-option {
    color: #eba790;
    font-size: 1vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
}

#menu {
    height: 9vw ;
    display: flex;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    bottom: 0;
    width: 100%;
}

#menu ul {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}



#menu li {
    display: flex;
    width: 13.5%;
    height: 100%;
}


#menu a {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    position: relative;
}

#menu .active-link:before {
    content: "";
    height: 0.2vw;
    width: 2.4vw;
    background-color: white;
    position: absolute;
    bottom: -1.3vw;
    left: calc(50% - 1.2vw);
}

#ctn-action-header {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -16%;
    font-weight: bold;
}
